body {
    font-family: 'Comic Sans MS';
    font-size: 90%;
}

body a {
    font-size: 150%;
}

img {
    width: 700px;
    height: auto;
    margin-top: 10px;
    display: block;
}

.graypink {
    background: rgb(0, 0, 0);
    color:#c50000;
}

.graypink a {
    color:#f70000;
}

.graypink a:hover {
    color:#f78787;
}