body {
    font-family: 'Comic Sans MS';
    font-size: 90%;
}

body a {
    font-size: 150%;
}

img {
    width: 700px;
    height: auto;
    margin-top: 10px;
    display: block;
}

.graypink {
    background: rgb(52, 52, 52);
    color:rgb(160, 162, 249);
}

.graypink a {
    color:rgb(70, 57, 214);
}

.graypink a:hover {
    color:rgb(152, 143, 247);
}