body {
    font-family: 'Comic Sans MS';
    font-size: 90%;
}

body a {
    font-size: 150%;
}

.graypink {
    background: rgb(52, 52, 52);
    color:rgb(249, 160, 213);
}

.graypink a {
    color:rgb(214, 57, 151);
}

.graypink a:hover {
    color:rgb(247, 143, 205);
}

.purplegold {
    background: rgb(76, 7, 63);
    color:rgb(244, 249, 160);
}

.purplegold a {
    color:rgb(214, 211, 57);
}

.purplegold a:hover {
    color:rgb(255, 253, 147);
}

.hell {
    background: rgb(78, 21, 21);
    color:rgb(223, 144, 98);
}

.hell a {
    color:rgb(255, 51, 0);
}

.hell a:hover {
    color:rgb(255, 142, 114);
}

.green {
    background: rgb(21, 78, 24);
    color:rgb(106, 223, 98);
}

.green a {
    color:rgb(1, 202, 168);
}

.green a:hover {
    color:rgb(153, 255, 238);
}

.dumb {
    background-image: url('types/82iq.png');
    background-size: 60%;
    color:rgb(144, 144, 222);
}

.dumb a {
    color:rgb(1, 202, 168);
}

.dumb a:hover {
    color:rgb(153, 255, 238);
}

.shitandpiss {
    background: rgb(51, 26, 0);
    color:rgb(221, 223, 98);
}

.shitandpiss a {
    color:rgb(214, 211, 57);
}

.shitandpiss a:hover {
    color:rgb(255, 253, 147);
}